html {
    margin: 0px;
    background-color: #0d1a27;
    font-size: 16px;
}
body{
    margin:0;
    padding: 0;
}
h1{
    color: white;
    margin-bottom: 2rem;
    margin-left:5%;
}
h2{
    color: black;
    font-family: Helvetica;
    font-size: 4vw;

}
.saludo {
    margin:auto auto;
}
header {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: minmax(0, 4rem);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 98;

}
.cabecera{
    display: grid;
    grid-template-columns: 50% 50%;
}
.contenedorMenu {
    margin-right: 1rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: row-reverse;
}

.iniciasesion {
    padding: 10px;
    height: 60%;

}

.logoGti {
    padding: 5px;
    height: 80%;

}
.boton {
margin:auto 1rem auto auto;
    font-family: Helvetica;
    color: white;
    border: white;
    width: 10%;
    height: 2.2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    position: relative;
    background-color: #633B54;

}

@media (min-width: 650px){
    h2 {
        font-size: 1.6rem;

    }
    .nombre {

        font-size: 1.6rem;
    }
}

