html {
    margin: 0;
    background-color: #0d1a27;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: Helvetica;
    font-size: 4vw;
    color: black;


}
.nombre{
    font-family: Helvetica;
    font-size: 4vw;
    color: black;

}

    /*Aqui empieza el header*/



header {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: minmax(0, 4rem);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 98;

}

.contenedorMenu {
    margin-right: 1rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: row-reverse;
}

.iniciasesion {
    padding: 10px;
    height: 60%;

}

.logoGti {
    padding: 5px;
    height: 80%;

}

/*Aqui acaba el header*/


    p {
        font-family: Helvetica;
        font-size: 0.8rem;
        color: black;
        text-align: center;
        margin: 0;

    }
    main{
        display: flex;
        justify-content: center;
        width: 100vw;
        flex-direction: column;
        height: calc(100vh - 4rem);
    }
    .saludo {
        margin:auto auto;
    }

    .mapaSensores {
        width: 100vw;
        height: auto;
        max-height: 50vh;
    }

    .mapacaja{
        margin-top:2rem;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #map {
        width: 95%;
        height: 97%;
        border: solid 2px white;
    }

    .botonSensor {
        width: 300px;
        height: 85px;
        position: relative;
        color: white;
        font-size: 60px;
        font-family: Helvetica;
        border: 2px solid white;
        border-radius: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        background-color: #633B54;
    }
   @media (min-width: 650px){
       h1 {
           font-size: 1.6rem;

       }
       .nombre {

           font-size: 1.6rem;
       }
   }